<!DOCTYPE html>
<html lang="en">
    <!-- Error page for express js-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Error</title>
        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
        <!---Custom CSS from file-->
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <link rel="icon" href="images/logo.png">
    </head>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <body style="background-color: #141615">
        <div class="container">
            <div class="jumbotron text-center text-white">
                <h1 class="display-4">404: Page not found</h1>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
                </p>
                </div>

        </div>
    </body>
</html>