<!DOCTYPE html>
<!---Dynamic home page-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <meta name="description" content="The home page of SynTech">
    <meta name="author" content="SynTech">
    <!---Bootstrap CSS from file-->
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <!---Custom CSS from file-->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <!---Site Icon-->
    <link rel="icon" href="images/logo.png">
</head>
<script src="bootstrap/js/bootstrap.min.js"></script>
<body style="background-color: #141615">
  <!--Dynamic NavBar without menu-->
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="/">SynTech</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="home" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/register">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <!--Dynamic Home page-->
  <div class="container">
    <div class="jumbotron text-center text-white">
    <h1 class="display-4">
    <span id="message"></span><span class="blinker">_</span>
    <script>
      var message = "Welcome to SynTech!";
      var speed = 100;

      function typeWriter() {
        if (message.length > 0) {
          document.getElementById("message").innerHTML += message.charAt(0);
          message = message.substring(1);
          setTimeout(typeWriter, speed);
        }
      }
      typeWriter();
    </script>
    </h1>
      <p class="lead">Welp you found us</p>
      <hr class="my-4">
      <p>We are a community of developers that love to talk about what we are working on.</p>
      <a class="btn btn-primary btn-lg" href="#about" role="button">Learn more</a>
    </div>
   </div>
  <footer class="footer">Site made by Blue, Check out the <a class="link" href="https://github.com/DeveloperJosh/SynTech-Site">Code</a></footer>
 </body>
</html>