<!DOCTYPE html>
<!---Dynamic home page-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Success</title>
    <!---Bootstrap CSS from file-->
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <!---Custom CSS from file-->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <!---Site Icon-->
    <link rel="icon" href="images/logo.png">
</head>
<script src="bootstrap/js/bootstrap.min.js"></script>
<body style="background-color: #141615">
  <!--Dynamic NavBar without menu-->
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="/">SynTech</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="home" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/register">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <!--Dynamic Home page-->
  <div class="container">
    <div class="jumbotron text-center text-white">
    <h1 class="display-4">
        Success
    </h1>
      <p class="lead">You now have a paid account.</p>
    </div>
   </div>
 </body>
</html>