::-webkit-scrollbar {
    width: 5px;
    background: #121212;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #6b6f70;
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px -2px rgba(0,0,0,0.25);
  }

  .divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  color: #6b6f70;
}

.javascript {
  color: #f0db4f;
}

.small-image {
  width: 40%;
  height: auto;
}

.blinker {
  animation: blinker 1s linear infinite;
}

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.card-center {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}